.cntdown-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    /* background: linear-gradient(24deg, rgba(23, 23, 23, 0.61) 0%, rgba(68, 68, 68, 0.16) 100%); */
    background-color: #ffffff2c;
}

.cntdown-modal{
    color: #fff;
    font-size: 8rem;
    text-transform: uppercase;
    font-family: var(--fontFamily);
    font-weight: 700;
    text-shadow:
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}