.selection__container {
    height: 25rem;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.selection__container-row {
    display: flex;
    justify-content: space-evenly;

    /* margin-top: 2rem; */
}

.margin {
    margin-top: 5%;
}

.selection_row2 {
    margin-top: 3rem;
}

.selection__container .choice-outer-layer {
    cursor: pointer;
    transition: transform 0.3s;
}

.selection__container .choice-outer-layer:hover {
    transform: translateY(-10px);
    box-shadow: 0 -.4rem 0 #00000050 inset,
        0 .4rem .6rem #242222;

}

.triangle-bg {
    background-image: url("../../../assets/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18rem;
}