.header__container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border: .2rem solid var(--outlineColor) ;
    border-radius: .8rem;
}

.header__score{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 7rem;
    border-radius: .5rem;
    padding: .8rem;
    font-family: var(--fontFamily);
}

.header__score-text{
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 600;
    color:  var(--scoreColor);
    letter-spacing: .12rem;
}

.header__score-score{
    font-size: 4rem;
    font-weight: 700;
    color: var(--fontColor);
    line-height: 3.5rem;
}