.gContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gContainer-content{
    display: flex;  
    padding: 2rem;
    width: 55rem;
}

.gContainer-gameArea{
    flex: 1;
}

.gContainer-rules{
    align-self: flex-end;
    margin-left: 5rem;
}
.gContainer-rules-mobile{
    display: none;
}


.icon_scissors{
    background: var(--scissors);
}
.icon_paper{
    background: var(--paper);
}
.icon_rock{
    background: var(--rock);
}
.icon_lizard{
    background: var(--lizard);
}
.icon_spock{
    background: var(--spock);
}

@media screen and (max-width:920px) {
    .gContainer-content{
        flex-direction: column;
    }
}

@media screen and (max-width:780px) {
    .result__container{
        flex-direction: column;
    }
    .result__container-picked{
        flex-direction: column-reverse;
    }
    .result__container .choice-inner-layer img{
        height: 4rem;
    }
    .result-desktop{
        display: none;
    }
    .result-mobile{
        display: flex;
    }
}


@media screen and (max-width:600px) {
    .gContainer-rules{ /*todo*/
        display: none;
    }
    .gContainer-rules-mobile{
        display: flex;
        justify-content: center;
        margin-top: 10rem;
    }
}