.result__container{
    height: 30rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    align-items: center;
}

.result__container-picked{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result__container-picked span{
    margin-bottom: 3rem;
    color: #fff;
    font-size: 1rem;
    font-family: var(--fontFamily);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .15rem;
}

.result__container-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin:1rem;
}

.result__container-result span{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .6rem;
    color: #fff;
    font-family: var(--fontFamily);
}

.result__container-result button{
    cursor: pointer;
    padding: .5rem 3rem;
    text-transform: uppercase;
    color: rgba(220, 46, 78, 1);
    font-family: var(--fontFamily);
    font-weight: 600;
    border-radius: .5rem;
    outline: 0;
    border: none;
}


.result__container .choice-inner-layer img{
    /* padding: 3rem; */
    height: 5rem;
}


.winner .winner-circle{
    border-radius: 100%;
    box-shadow:
    0 0 .3rem 2em rgba(31, 55, 86, 0.5),
    0 0 .3rem 4em rgba(31, 55, 86, 0.3),
    0 0 .5rem 8em rgba(31, 55, 86, 0.267);
    z-index: -1;
    animation: scaleAnimation 2s ease; /* Apply animation */
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1); /* Initial scale */
    }
    50% {
        transform: scale(1.5); /* Scale to 1.5 times */
    }
    100%{
        transform: scale(1);
    }
}